<!DOCTYPE html>
<html>
  <head>
    <title>Kele</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <ul>
        <% unless current_user %>
          <li><%= nav_link_to "Sign Up", new_user_registration_path %>
          <li><%= nav_link_to "Sign In", new_user_session_path %>
        <% else %>
          <li>Welcome <%= current_user.email %></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% end %>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
